<% provide :title, t(".help") %>
<h1><%= t ".help"%></h1>
<p>
  <%= t ".get_help"%>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_help"%></a>.
  <%= t ".to_get"%>
  <a href="http://www.railstutorial.org/book"><em><%= t ".rort"%></em>
    <%= t ".book"%></a>.
</p>
