<h1><%= t ".reset_pass" %></h1>
<p><%= t ".click_the_link" %></p>
<%= link_to t(".reset"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t ".expire_time" %></p>
<p><%= t ".ignore_email" %></p>
